.content {
  &__bg {
    background-image: url("/problem1/img/bg-masthead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    overflow: hidden;

    .et {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 10vh 0;

      p {
        word-break: break-all;
        text-align: center;
        color: $white;
      }

      &.et-get {
        span {
          font-size: 10rem;
          color: $black-blur;
        }
        p {
          padding: 6vh 4vw;
          font-size: 1.5rem;
          background-color: $black-blur;
          border-radius: 15px;
        }
      }
      &.et-detail {
        span {
          font-size: 3rem;
          color: $white;
        }
        p {
          padding: 4vh 4vw;
          font-size: 1rem;
        }
      }
    }
  }
  &__grid {
    margin-top: 5vh;
    .grid {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      max-width: 50%;

      &__image {
        img {
          width: 32rem;
          height: 20rem;
          object-fit: cover;
        }
      }
      &__data {
        padding: 7rem 2rem;
        height: 22rem;
        text-align: center;
      }

      &:nth-child(1) {
        align-items: center;
      }
      &:nth-child(2),
      &:nth-child(3) {
        align-items: flex-start;

        .grid__data {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .content {
    &__bg {
      height: 185vh;
    }
    &__grid {
      .grid {
        &__image {
          img {
            width: 22.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .content {
    &__bg {
      .et {
        max-width: 80%;
        &.et-get {
          span {
            font-size: 7rem;
          }
          p {
            margin: 0;
          }
        }
        &.et-detail {
          span {
            font-size: 2rem;
          }
          p {
            padding: 1rem;
          }
        }
      }
    }
    &__grid {
      .grid {
        width: 90vw;
        flex-direction: column;

        &__image {
          img {
            width: 90vw;
            border-radius: 15px;
          }
        }

        &__data {
          margin: 0;
          width: 90vw;
          padding: 9rem 2rem;
          border-radius: 15px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          align-items: center;
          width: 90vw;
          border-radius: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content {
    &__bg {
      .et {
        &.et-get {
          span {
            font-size: 5rem;
          }
          p {
            font-size: 1rem;
          }
        }
        &.et-detail {
          span {
            font-size: 2rem;
          }
          p {
            padding: 0;
          }
        }
      }
    }
  }
}
